/* auth.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* N·ªÅn cho trang login/register */
body.login-bg, body.register-bg {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('assets/images/HN1.png') no-repeat center center fixed;
    background-size: cover;
}

/* Container */
.login-container, .register-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(22px) saturate(100%);
    border: 2.5px solid rgba(255, 255, 255, 0.12);
    border-radius: 55px;
    padding: 60px 50px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

/* Logo & Header */
.logo, .header-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 35px;
}

.logo img, .logo-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 70%;
    margin-bottom: 15px;
    box-shadow: 0 20px 10px rgba(77, 74, 74, 0.15);
}

h2, h1 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 10px;
}

.input-group {
    text-align: left;
    margin-bottom: 25px;
}

label {
    display: block;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 15px;
    transition: 0.3s;
}

input:focus {
    border-color: #000;
    outline: none;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
}

.btn {
    width: 100%;
    background-color: #dd5f0aec;
    border: none;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #310b0d;
}

.signup-link, .login-link {
    margin-top: 15px;
    font-size: 16px;
}

.signup-link a, .login-link a {
    color: #0a0201;
    text-decoration: none;
    font-weight: 700;
}

.signup-link a:hover, .login-link a:hover {
    text-decoration: underline;
}
